@function icon-long-icon ($numero, $color){
    $text-shadow: 1px 1px #{$color};
    @for $i from 1 through $numero {
        $text-shadow: '#{$text-shadow},
                        #{$i}px #{$i}px #{$color}';
    }
    @return unquote($text-shadow);
}
body {
    background: darken(violet, 15%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.icon-twitter {
    font-size: 20em;
    color: darken(magenta, 25%);
    text-shadow: icon-long-icon(300,darken(magenta,35%));
}
